version: '3.8'

services:
  trading-bot:
    build: .
    container_name: sniper_grinder_bot
    restart: always
    # This line loads your keys safely
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./db:/app/db
      - ./run.py:/app/run.py
    environment:
      - TZ=America/New_York
    networks:
      - global-link

networks:
  global-link:
    external: true